header {
  width: 100%;
  border-bottom: 1px solid #d9d9d9;
  flex-shrink: 0;
  grid-row: 1 / 2;
}
.logo {
  display: flex;
  align-items: center;
  margin-left: 1.6%;
  width: 17%;
  a {
    display: flex;
    align-items: center;
  }
}
.buttons {
  height: 100%;
  width: 75%;
  display: flex;
  justify-content: space-between;
  .navButtons {
    height: 100%;
    border-right: 1px solid #d9d9d9;
    .menuButton {
      background-color: white;
      border: 0;
      border-left: 1px solid #d9d9d9;
      height: 100%;
      width: 170px;
      font-size: 28px;
      cursor: pointer;
      transition: 0.1s ease-in-out;

      &:hover {
        color: #7c91ff;
      }
    }
  }

  .menuButtonActive {
    background-color: #7c91ff;
    border: 0;
    border-left: 1px solid #d9d9d9;
    height: 100%;
    width: 170px;
    font-size: 28px;
    color: white;
  }

  .metaButton {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 260px;
    background-color: white;
    border: 0;
    border-right: 1px solid #d9d9d9;
    border-left: 1px solid #d9d9d9;
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;

    &:hover {
      p {
        color: #7c91ff;
      }
    }

    p {
      transition: 0.1s ease-in-out;
      position: relative;
      left: 12px;
    }
    img {
      position: relative;
      right: 7px;
    }
    span {
      width: 85%;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
